<div class="container mt-5">
<div class="mb-2">
<h1>Employee Sheet:</h1>
</div>
<div class="row mt-2 mb-2">
     <div class="col-lg-1"><label class="label-control">Select Employee:</label></div>
    <div class="col-lg-4">
<select [(ngModel)]='optionSelected' class="form-control" (ngModelChange)='onOptionsSelected($event)'>
    <option *ngFor="let emp of employees" [ngValue]="emp.id"  [selected]="emp.id == optionSelected">
        {{emp.name}}
    </option>
</select>
</div>
<div class="col-lg-7 text-right"><button class="btn btn-primary" (click)='redirectToNewTimeSheet()'>Add New</button>
</div>
</div>

<table class="table">
    <tr>
        <th>Task Name</th>
        <th>Sunday</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wenesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
    </tr>
    <tr *ngFor="let sheet of sheets">
        <td>{{sheet.task}}</td>
        <td>{{sheet.sundayHours}}</td>
        <td>{{sheet.mondayHours}}</td>
        <td>{{sheet.tuesdayHours}}</td>
        <td>{{sheet.wenesdayHours}}</td>
        <td>{{sheet.thursdayHours}}</td>
        <td>{{sheet.fridayHours}}</td>
        <td>{{sheet.saturdayHours}}</td>
    </tr>
    <tr *ngIf="sheets.length">
        <td>Total</td>
        <td>{{getSum('sundayHours')}}</td>
        <td>{{getSum('mondayHours')}}</td>
        <td>{{getSum('tuesdayHours')}}</td>
        <td>{{getSum('wenesdayHours')}}</td>
        <td>{{getSum('thursdayHours')}}</td>
        <td>{{getSum('fridayHours')}}</td>
        <td>{{getSum('saturdayHours')}}</td>
    </tr>
    <tr *ngIf="!sheets.length">
        <td colspan="8">No record found!</td>
    </tr>
</table>

<div class="text-right mt-5">
<a class="btn btn-primary" routerLink='/employeelist'>Go to Employees List</a>
    <div>
</div>