<div class="container">
    <div class="mb-5">
        <h1>Add New Record</h1>
    </div>



    <div class="row mt-2">
        <div class="col-lg-1"><label class="label-control">Employee:</label></div>
        <div class="col-lg-4">

            <select [(ngModel)]='sheet.EmployeeId' class="form-control" disabled (ngModelChange)='onOptionsSelected($event)'>
    <option *ngFor="let emp of employees" [ngValue]="emp.id"  [selected]="emp.id == sheet.EmployeeId">
        {{emp.name}}
    </option>
</select>
        </div>

        <div class="col-lg-1"><label class="label-control">Task:</label></div>


        <div class="col-lg-4">
            <select [(ngModel)]='sheet.TaskId' class="form-control" (ngModelChange)='onOptionsSelected($event)'>
    <option *ngFor="let emp of tasks" [ngValue]="emp.id"  [selected]="emp.id == sheet.TaskId">
        {{emp.name}}
    </option>
</select>
        </div>

    </div>




    <div class="row mt-2">
        <div class="col-lg-1"><label class="label-control">Task Date:</label></div>
        <div class="col-lg-4">

            <input type="date" class="form-control" [max]="currDate" [(ngModel)]='sheet.WorkingDate' />

        </div>

        <div class="col-lg-1"><label class="label-control">Hours:</label></div>


        <div class="col-lg-4">
            <input type="number" class="form-control" [(ngModel)]='sheet.WorkingHours' />

        </div>

    </div>

    <div class="row mt-2">
        <div class="text-center col-lg-9"><input type="button" class="btn btn-primary" (click)='saveSheet()' value="Save" />
        </div>
    </div>











    <!--
Task Date:
<input type="text" [(ngModel)]='sheet.WorkingDate' />

Hours:
<input type="number" [(ngModel)]='sheet.WorkingHours' />

<input type="button" (click)='saveSheet()' value="Save" />-->

</div>